<div class='navbar'>
  <table>
      <tr>
        <th><%= link_to "Home", "/" %></th>
        <th><%= link_to "Smithsonian","/smithsonian" %></th>
        <th><%= link_to "The Met", "/themet" %></th>
      </tr>
  </table>
</div>
