<div class='object'>
  <div class="object-name">
    <h4><%= @object.title %></h4>
    <%= @object.description %>
    <%= @object.unitCode %>
  </div>

  <%= link_to "View Item on Smithsonian", item %>
</div>
