<ul>
<li>AAA -- Archives of American Art</li>
<li>ACM -- Anacostia Community Museum</li>
<li>CFCHFOLKLIFE -- Ralph Rinzler Folklife Archives and Collections</li>
<li>CHNDM -- Cooper Hewitt, Smithsonian Design Museum</li>
<li>EEPA -- Eliot Elisofon Photographic Archives</li>
<li>FBR -- Smithsonian Field Book Project</li>
<li>FSG -- Freer Gallery of Art and Arthur M. Sackler Gallery</li>
<li>HAC -- Smithsonian Gardens</li>
<li>HMSG -- Hirshhorn Museum and Sculpture Garden</li>
<li>HSFA -- Human Studies Film Archives</li>
<li>NAA -- National Anthropological Archives</li>
<li>NASM -- National Air and Space Museum</li>
<li>NMAAHC -- National Museum of African American History and Culture</li>
<li>NMAH -- National Museum of American History</li>
<li>NMAI -- National Museum of the American Indian</li>
<li>NMAfA -- National Museum of African Art</li>
<br/>
<li>NMNH --- National Museum of Natural History</li>
<li>NMNHANTHRO -- NMNH - Anthropology Dept.</li>
<li>NMNHBIRDS -- NMNH - Vertebrate Zoology - Birds Division</li>
<li>NMNHBOTANY -- NMNH - Botany Dept.</li>
<li>NMNHEDUCATION -- NMNH - Education & Outreach</li>
<li>NMNHENTO -- NMNH - Entomology Dept.</li>
<li>NMNHFISHES -- NMNH - Vertebrate Zoology - Fishes Division</li>
<li>NMNHHERPS -- NMNH - Vertebrate Zoology - Herpetology Division</li>
<li>NMNHINV -- NMNH - Invertebrate Zoology Dept.</li>
<li>NMNHMAMMALS -- NMNH - Vertebrate Zoology - Mammals Division</li>
<li>NMNHMINSCI -- NMNH - Mineral Sciences Dept.</li>
<li>NMNHPALEO -- NMNH - Paleobiology Dept.</li>
<br/>
<li>NPG -- National Portrait Gallery</li>
<li>NPM -- National Postal Museum</li>
<li>NZP -- Smithsonian's National Zoo & Conservation Biology Institute</li>
<li>SAAM -- Smithsonian American Art Museum</li>
<li>SIA -- Smithsonian Institution Archives</li>
<li>SIL -- Smithsonian Libraries</li>
</ul>
